<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Employee Management System Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  <servlet-name>createAccount</servlet-name>
  <servlet-class>emp_management.CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>createAccount</servlet-name>
  <url-pattern>/createAccount</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>validateLogin</servlet-name>
  <servlet-class>emp_management.ValidateLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>validateLogin</servlet-name>
  <url-pattern>/validateLogin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>updateAccount</servlet-name>
  <servlet-class>emp_management.UpdateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>updateAccount</servlet-name>
  <url-pattern>/updateAccount</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>deleteAccount</servlet-name>
  <servlet-class>emp_management.DeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>deleteAccount</servlet-name>
  <url-pattern>/deleteAccount</url-pattern>
  </servlet-mapping>
  
  <!-- <error-page>
  <location>/error.html</location>
  </error-page> -->
</web-app>